.header{
    background-color: rgb(156, 154, 154);
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}
.bluePart{
    background-color: darkblue;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
#greyBoxHome{
    display: flex;
    flex-direction: row;
}
.greyBox{
    height:18px;
    background-color: rgb(156, 154, 154);
    margin: 3px;
    width: 18px;
    text-align: center;
}
#icon{
    height: 25px;
    width: 25px;
}
#headerText{
    color: black;
    text-decoration: none;
}
#paintBoard{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
#paletteWrapper{
    height: 500px; 
    width: 10%; 
    background: rgb(156, 154, 154); 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#colorWrapper{
    background: rgb(156, 154, 154); 
    height: 100px;
}
.cellStyle{
    background: blue; 
    height: 2px; 
    width: 2px;
}
.rowStyle{
    height: 2px;
}
.colorButton{
    border: solid 1px black;
}
#colorPalette{
    height: 200px;
    width: 300px;

}
#functionalityWrapper{
    background-color: rgb(156, 154, 154);
    height: 30%;
}
#canvasArea{
    background: white; 
    height: 500px; 
    width: 500px;
    border: solid 2px black;
    position: relative;
}

#brushSizeDisplay{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 35px;
    width: 35px;
    background-color:white;
    border: solid 2px black;
}
#brushSizeExample{
    height: 5px; 
    width: 5px; 
    background-color: black;
}